#edit
  %ul.actions
    %li= link_to('back', administer_entities_path(:model_name => model_class.model_name))
  %h1
    Edit
    = model_class.model_name.human
  = form_for @object, :url => administer_entity_path(@object, :model_name => model_class.model_name) do |f|
    = render 'form', :fields => @fields, :f => f, :object => @object
    = f.submit "Update #{model_class.model_name}"
