%h1= "Blog"
%p= link_to "new post", new_post_path

- for post in @posts
  %h2= post.title
  %p.post_body= post.body
  %ul.actions
    %li.edit= link_to("edit", edit_post_path(post))
    %li.delete= button_to("delete", post_path(post), :method => :delete, :confirm => 'Are you sure?')
  %hr
